* {
  margin: 0;
  padding: 0;
  /* border: #000 solid 1px; */
}

.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 180px 1fr;
  min-height: 100vh;
}

.nav {
  display: grid;
  grid-column: 1 / 2;
  grid-row: span 2;
  padding: 26px;
  background-color: #1293D5;
  align-content: flex-start;
  gap: 30px;
  z-index: 1;
}

.logo-text {
  color: #fff;
  display: flex;
  align-items: center;
}

.logo-text img {
  width: 50px;
  margin-right: 10px;
}

ul li {
  list-style-type: none;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  width: fit-content;
}

li a img {
  width: 30px;
  margin: 0 20px 0 10px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  padding: 26px;
  padding-bottom: 0;
  box-shadow: 0 0 10px 10px rgba(0,0,0,.1);
}

.content {
  grid-column: 2 / 3;
  background-color: #AAC3CF;
  z-index: -1;
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 250px;
}

input[type='search'] {
  background-color: rgba(170, 195, 207, .5);
  border-radius: 20px;
  border: none;
  font-size: 16px;
  padding: 6px 20px;
  width: 100%;
}

.search img,
.notification {
  width: 30px;
}

.notif-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 50px;
}

.profile {
  border-radius: 30px;
  width: 50px;
}

.profile-name {
  font-size: 26px;
}

.greetings {
  display: flex;
  align-items: center;
}

.greetings > div:first-of-type {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}

.greetings .profile {
  width: 70px;
  border-radius: 40px;
}

.greetings>div>span:last-child {
  font-size: 26px;
}

div.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5em;
  padding-right: 40px;
}

.header-buttons button {
  font-size: 20px;
  padding: .5em 2em;
  border-radius: 1.5em;
  background-color: #1293D5;
  color: #fff;
  border: none;
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: 3fr 350px;
  grid-template-rows: 3fr 2.5fr;
  background-color: #E2E9F1;
}

* {
  border: black 1px solid;
}

.project-section {
  grid-area:  1 / 1 / 3 / 2 ;
}