* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.nav {
  display: grid;
  grid-column: 1 / 2;
  grid-row: span 2;
  padding: 26px;
  background-color: #1293D5;
  align-content: flex-start;
  gap: 30px;
}

.logo-text {
  color: #fff;
  display: flex;
  align-items: center;
}

.logo-text img {
  width: 50px;
  margin-right: 10px;
}

ul li {
  list-style-type: none;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  width: fit-content;
}

li a img {
  width: 30px;
  margin: 0 20px 0 10px;
}

.header {
  grid-column: 2 / 3;
}

.content {
  grid-column: 2 / 3;
  background-color: #AAC3CF;
}